@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>iSelect Manager</h1>
    <p class="lead">iSelect Demonstration.</p>
    <p>Dialer .Net API demonstration</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Agents</h2>
        <ul>
            <li>logon agents</li>
            <li>logoff agents</li>
            <li>Move agents between campaigns</li>
        </ul>
        <p><a class="btn btn-default" href="/Agent">go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact list</h2>
        <p>Manipulate the Contact List through the Dialer API.</p>
        <p><a class="btn btn-default" href="/ContactList">go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Policy</h2>
        <p>Apply configured policies to existing campaigns.</p>
        <p><a class="btn btn-default" href="/Policy">go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Skill</h2>
        <p>Upload skills and assign them.</p>
        <p><a class="btn btn-default" href="/Skill">go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Call back</h2>
        <p>set callbacks to campaigns and/or agents.</p>
        <p><a class="btn btn-default" href="/Callback">go &raquo;</a></p>
    </div>
</div>