@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>iSelect Manager</h1>
    <p class="lead">iSelect Demonstration.</p>
    <p>Dialer .Net API demonstration</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Campaigns</h2>
        <p>Manipulate campaigns.</p>
        <ul>
            <li>logon agents</li>
            <li>logoff agents</li>
            <li>Move agents between campaigns</li>
            <li>Apply Policies</li>
        </ul>
        <p><a class="btn btn-default" href="/Campaigns">go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact list</h2>
        <p>Manipulate the Contact List through the Dialer API.</p>
        <p><a class="btn btn-default" href="/ContactLists">go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Call back</h2>
        <p>set callbacks to campaigns and/or agents.</p>
        <p><a class="btn btn-default" href="/Callbacks">go &raquo;</a></p>
    </div>
</div>