@model IEnumerable<iSelectManager.Models.Skill>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.ActionLink(item.DisplayName, "Details", new { id=item.id })</td>
    </tr>
}

</table>
