@model IEnumerable<iSelectManager.Models.Campaign>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.DisplayName)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.ActionLink(item.DisplayName, "Edit", new { id=item.id })</td>
    </tr>
}

</table>
